<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1>Hello My second Page</h1>
<a href="{% url 'first' %}">  <button type="button" class="btn btn-dark"> First </button> </a>
</center>

<form method="post">

    {% csrf_token %}

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="number" class="form-control" id="email" placeholder="1st number" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="number" class="form-control" id="pwd" placeholder="2nd Number" name="pswd" required>
    </div>
    <h1> {{ sum }} </h1>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

</body>
</html>